<div id="calwrapper">
	
	<div id="calheader"></div>
	<div id="calleftside"></div>
	
	<div id="calmain row">
		<div id="calcontent" class="jrcal col-md-24">
			<div class="row">

			{{#each filteredMonths}}
				{{#if isFirstDayOfMonth}}

				<div class="col-md-8">
					<div class="row">
						<div class="jrcal-monthheader">{{monthName}}</div>
					</div>
					<div {{bindAttr year="year" month="month"}} class="jrcal-month">
				{{/if}}

					{{#if isFirstDayOfWeek}}
						{{view EmberCalendar.WeekView}}
					{{else}}
						{{#if isFirstDayOfMonth}}
							{{view EmberCalendar.WeekView}}
						{{/if}}
					{{/if}}

					{{view EmberCalendar.DayView}}

					{{#if isLastDayOfMonth}}
					</div>
				</div>
			
				{{/if}}
			{{/each}}
			</div>
		</div>
		<div class="clear"></div>	
	</div>
	<div id="calrightside"></div>
	
</div>