<div class="row">
	<div  {{bindAttr year="year" month="month" day="date" class=":jrcal-day isOdd:odd:even" }} >
		<div class="">
			<div class="jrcal-date">{{date}}</div>
		</div>
		<div class="col-md-1 col-sm-1">
			<div {{ bindAttr class=":jrcal-weekday isHoliday:red" }}>{{weekday}}</div>
		</div>

		<!--Holiday Tag-->
		<div class="col-md-4 col-sm-4">
			{{#if isHoliday}}
			<div class="jrcal-holidayname">{{holiday}}</div>
			{{/if}}
		</div>

		<div class="jrcal-events col-md-5">
		</div>

		<!-- Add Buttons -->
		<div class="">
			<div class="jrcal-btns hidden">
				<!--Button New Event-->
				<div class="jrcal-newevent" {{action newEvent this}}></div>
				<!--Button New Performance-->
			<!--	<div class="jrcal-newperformance" ></div>-->
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>